tests/
Result_exsels/
__pycache__/
venv/
handler data/
build/
dist/

api_key.py
api_key_gigachat.py

merged.xlsx
Result_Gemini.xlsx
source_expanded.xlsx
source.xlsx
Result_GigaChat.xlsx
merged_gigachat_finalfile.xlsx
Requst
gold_source.xlsx

expanded.py
gemini_api.py
gemini_api_question.py
gui.py
gui.exe
merge.py
merge_gigachat.py
gigachat_api.py

benchmark/


test.py
1.ui
2_2.ui
2.ui
asdas.py
2_3.ui
gigachat_api_normalize_2.py
MainWindow(Old GUI V2).py
test1.py
3.ui
3_1.ui
3_2.ui
gold70.xlsx
norm70.xlsx
pred.xlsx
main.spec
