tests/
Result_exsels/
__pycache__/
venv/
handler data/

api_key.py
api_key_gigachat.py

merged.xlsx
Result_Gemini.xlsx
source_expanded.xlsx
source.xlsx
Result_GigaChat.xlsx
merged_gigachat_finalfile.xlsx
Requst
gold_source.xlsx

test.py
1.ui
2_2.ui
2.ui
asdas.py
