tests/
Result_exsels/
__pycache__/
venv/

api_key.py
api_key_gigachat.py

merged.xlsx
Result_Gemini.xlsx
source_expanded.xlsx
source.xlsx
Result_GigaChat.xlsx
merged_gigachat_finalfile.xlsx
Requst
gold_source.xlsx

test.py